In [ ]:
# TABEL KEBENARAN NO 1
#  p → (¬q ∨ r)
import pandas as pd

a1 = []
for p in [True, False]:
    for q in [True, False]: 
        for r in [True, False]:
            prop1 = not q 
            prop2 = prop1 or r
            prop3 = prop2 if p else True
            a1.append(pd.DataFrame({'P': [p], 'Q': [q], 'R': [r], '~Q': [prop1], '~Q V R': [prop2], 'P -> (~Q V R)': [prop3]}))


tabel_atu = pd.concat(a1, ignore_index = True)
tabel_atu

ModuleNotFoundError: No module named 'pandas'

In [3]:
# No 1b
# ¬p → (q → r)

b1 = []
for p in [True, False]: 
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = r if q else True
            prop3 = prop2 if prop1 else True
            b1.append(pd.DataFrame({'P': [p], 'Q': [q], 'R': [r], '~P': [prop1], 'Q-->R': [prop2], '~P --> (Q-->R)': [prop3]}))

tabel_dua= pd.concat(b1, ignore_index = True)
tabel_dua

       P      Q      R     ~P  Q-->R  ~P --> (Q-->R)
0   True   True   True  False   True            True
1   True   True  False  False  False            True
2   True  False   True  False   True            True
3   True  False  False  False   True            True
4  False   True   True   True   True            True
5  False   True  False   True  False           False
6  False  False   True   True   True            True
7  False  False  False   True   True            True

In [4]:
#No 1C
#(p → q) ∨ (¬p → r)

c1 = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = q if p else True
            prop3 = r if prop1 else True
            prop4 = prop2 or prop3
            c1.append(pd.DataFrame({'P': [p], 'Q': [q], 'R': [r], '~P': prop1, 'P-->Q': [prop2], '~P-->R':[prop3], '(P-->Q) V (~P-->R)': [prop4]}))
                                          
                                          
tabel_tiga = pd.concat(c1, ignore_index = True)
tabel_tiga

       P      Q      R     ~P  P-->Q  ~P-->R  (P-->Q) V (~P-->R)
0   True   True   True  False   True    True                True
1   True   True  False  False   True    True                True
2   True  False   True  False  False    True                True
3   True  False  False  False  False    True                True
4  False   True   True   True   True    True                True
5  False   True  False   True   True   False                True
6  False  False   True   True   True    True                True
7  False  False  False   True   True   False                True

In [5]:
# 1 D
#  (p → q) ∧ (¬p → r)

d1 = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = q if p else True
            prop3 = r if prop1 else True
            prop4 = prop2 and prop3
            d1.append(pd.DataFrame({'P': [p], 'Q': [q], 'R': [r], '~P': prop1, 'P-->Q': [prop2], '~P-->R':[prop3], '(P-->Q) ∧ (~P-->R)': [prop4]}))

tabel_empat = pd.concat(d1, ignore_index = True)
tabel_empat

       P      Q      R     ~P  P-->Q  ~P-->R  (P-->Q) ∧ (~P-->R)
0   True   True   True  False   True    True                True
1   True   True  False  False   True    True                True
2   True  False   True  False  False    True               False
3   True  False  False  False  False    True               False
4  False   True   True   True   True    True                True
5  False   True  False   True   True   False               False
6  False  False   True   True   True    True                True
7  False  False  False   True   True   False               False

In [6]:
#(p ↔ q) ∨ (¬q ↔ r)
#1e
e1 = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not q
            prop2 = (p if q else True) and (q if p else True)
            prop3 = (r if prop1 else True) and (prop1 if r else True)
            prop4 = prop2 or prop3
            e1.append(pd.DataFrame({'P': [p], 'Q': [q], 'R': [r], '~Q': prop1, 'P<-->Q': [prop2], '~Q<-->R':[prop3], '(P-->Q) V (~Q-->R)': [prop4]}))

tabel_lima = pd.concat(e1, ignore_index = True)
tabel_lima

       P      Q      R     ~Q  P<-->Q  ~Q<-->R  (P-->Q) V (~Q-->R)
0   True   True   True  False    True    False                True
1   True   True  False  False    True     True                True
2   True  False   True   True   False     True                True
3   True  False  False   True   False    False               False
4  False   True   True  False   False    False               False
5  False   True  False  False   False     True                True
6  False  False   True   True    True     True                True
7  False  False  False   True    True    False                True

In [7]:
#(¬p ↔ ¬q) ↔ (q ↔ r)
#Tabel 1f

f1 = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = not q
            prop3 = (prop2 if prop1 else True) and (prop1 if prop2 else True)
            prop4 = (r if q else True) and (q if r else True)
            prop5 = (prop4 if prop3 else True) and (prop3 if prop4 else True)
            f1.append(pd.DataFrame({'P': [p], 'Q': [q], 'R': [r], '~P': prop1, '~P': [prop2], '~P ↔ ~Q':[prop3], 'Q ↔ R': [prop4], '(~P ↔ ~Q)↔(Q ↔ R)': [prop5]}))

tabel_enam = pd.concat(f1, ignore_index = True)
tabel_enam

       P      Q      R     ~P  ~P ↔ ~Q  Q ↔ R  (~P ↔ ~Q)↔(Q ↔ R)
0   True   True   True  False     True   True               True
1   True   True  False  False     True  False              False
2   True  False   True   True    False  False               True
3   True  False  False   True    False   True              False
4  False   True   True  False    False   True              False
5  False   True  False  False    False  False               True
6  False  False   True   True     True  False              False
7  False  False  False   True     True   True               True

In [ ]:
# NO 2, , cek tautologi

In [8]:
#2A
# [¬p ∧ (p ∨ q)] → q

a2 = []
tautologi = True
for p in [True, False]:
    for q in [True, False]:
        prop1 = not p
        prop2 = p or q
        prop3 = prop1 and prop2
        prop4 = q if prop3 else True
        if(not prop4):
            tautologi = False
        a2.append(pd.DataFrame({'P': [p],
                                 'Q': [q],
                                 '~P': [prop1],
                                 'P V Q ':[prop2],
                                 '~P ∧ (P ∨ Q)':[prop3],
                                 '[~P ∧ (P ∨ Q)] --> Q': [prop4]
                                }))
tabel_dua_a = pd.concat(a2, ignore_index = True)
if(tautologi):
    print("Tautologi")
else:
    print("Bukan Tautologi")

tabel_dua_a

Tautologi

       P      Q     ~P  P V Q   ~P ∧ (P ∨ Q)  [~P ∧ (P ∨ Q)] --> Q
0   True   True  False    True         False                  True
1   True  False  False    True         False                  True
2  False   True   True    True          True                  True
3  False  False   True   False         False                  True

In [9]:
#2B
# [(p → q) ∧ (q → r)] → (p → r)
b2 = []
tautologi = True
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = q if p else True
            prop2 = r if q else True
            prop3 = prop1 and prop2
            prop4 = r if p else True
            prop5 = prop4 if prop3 else True
            if(not prop5):
                tautologi = False
            b2.append(pd.DataFrame({'P': [p],
                                     'Q': [q], 'R': [r],
                                     'P → Q': [prop1],
                                     'Q → R ':[prop2],
                                     '(P → Q) ∧ (Q → R)':[prop3],
                                     'P → R': [prop4], ' [(P → Q) ∧ (Q → R)] → (P → R)': [prop5]
                                    }))

tabel_dua_b = pd.concat(b2, ignore_index = True)
if(tautologi):
    print("Tautologi")
else:
    print("Bukan Tautologi")

tabel_dua_b

Tautologi

,P,Q,R,P → Q,Q → R,(P → Q) ∧ (Q → R),P → R,[(P → Q) ∧ (Q → R)] → (P → R)
0,True,True,True,True,True,True,True,True
1,True,True,False,True,False,False,False,True
2,True,False,True,False,True,False,True,True
3,True,False,False,False,True,False,False,True
4,False,True,True,True,True,True,True,True
5,False,True,False,True,False,False,True,True
6,False,False,True,True,True,True,True,True
7,False,False,False,True,True,True,True,True

In [10]:
#2C
# [p ∧ (p → q)] → q
# [P ∧ (P → Q)] → Q

c2 = []
tautologi = True
for p in [True, False]:
    for q in [True, False]:
        prop1 = q if p else True
        prop2 = p and prop1
        prop3 = q if prop2 else True
        if(not prop3):
            tautologi = False
        c2.append(pd.DataFrame({'P': [p],
                                 'Q': [q],
                                 'P → Q': [prop1],
                                 'P ∧ (P → Q) ':[prop2],
                                 '[P ∧ (P → Q)] → Q':[prop3]
                                }))

tabel_dua_c = pd.concat(c2, ignore_index = True)
if(tautologi):
    print("Tautologi")
else:
    print("Bukan Tautologi")    
tabel_dua_c

Tautologi

       P      Q  P → Q  P ∧ (P → Q)   [P ∧ (P → Q)] → Q
0   True   True   True          True               True
1   True  False  False         False               True
2  False   True   True         False               True
3  False  False   True         False               True

In [11]:
#2D
#[(p ∨ q) ∧ (p → r) ∧ (q → r)] → r
# [(P ∨ Q) ∧ (P → R) ∧ (Q → R)] → R

d2 = []
tautologi = True
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = p or q
            prop2 = r if p else True
            prop3 = r if q else True
            prop4 = prop1 and prop2 and prop3
            prop5 = r if prop4 else True
            if(not prop5):
                tautologi = False
            d2.append(pd.DataFrame({'P': [p],
                                     'Q': [q],'R':[r],
                                     'P V Q': [prop1],
                                     'P → R ':[prop2],
                                     'Q → R':[prop3],
                                     '(P ∨ Q) ∧ (P → R) ∧ (Q → R)': [prop4],'[(P ∨ Q) ∧ (P → R) ∧ (Q → R)] → R': [prop5]
                                    }))

tabel_dua_d = pd.concat(d2, ignore_index = True)
if (tautologi):
    print("Tautologi")
else:
    print("Bukan Tautologi")

tabel_dua_d

Tautologi

,P,Q,R,P V Q,P → R,Q → R,(P ∨ Q) ∧ (P → R) ∧ (Q → R),[(P ∨ Q) ∧ (P → R) ∧ (Q → R)] → R
0,True,True,True,True,True,True,True,True
1,True,True,False,True,False,False,False,True
2,True,False,True,True,True,True,True,True
3,True,False,False,True,False,True,False,True
4,False,True,True,True,True,True,True,True
5,False,True,False,True,True,False,False,True
6,False,False,True,False,True,True,False,True
7,False,False,False,False,True,True,False,True

In [16]:
#Show that (p ∧ q) → r and (p → r) ∧ (q → r) are not logically equivalent
#(P ∧ Q) → R and (P → R) ∧ (Q → R)
no3 = []
logic = True
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = p and q
            prop2 = r if prop1 else True
            prop3 = r if p else True
            prop4 = r if q else True
            prop5 = prop3 and prop4
            prop6 = prop2 and prop5
            if(not prop6):
                logic = False
            no3.append(pd.DataFrame({'P': [p],
                                     'Q': [q], 'R': [r],
                                     'P ∧ Q': [prop1],
                                     '(P ∧ Q) → R ':[prop2],
                                     'P → R':[prop3],
                                     'Q → R': [prop4],'(P → R) ∧ (Q → R)': [prop5], '(P ∧ Q) → R and (P → R) ∧ (Q → R)': [prop6]
                                    }))

tabel_ketiga = pd.concat(no3, ignore_index = True)

if(not logic):
    print("(p ∧ q) → r and (p → r) ∧ (q → r) tidak ekuivalen")
else:
    print("(p ∧ q) → r and (p → r) ∧ (q → r)  ekuivalen")

tabel_ketiga

(p ∧ q) → r and (p → r) ∧ (q → r) tidak ekuivalen

,P,Q,R,P ∧ Q,(P ∧ Q) → R,P → R,Q → R,(P → R) ∧ (Q → R),(P ∧ Q) → R and (P → R) ∧ (Q → R)
0,True,True,True,True,True,True,True,True,True
1,True,True,False,True,False,False,False,False,False
2,True,False,True,False,True,True,True,True,True
3,True,False,False,False,True,False,True,False,False
4,False,True,True,False,True,True,True,True,True
5,False,True,False,False,True,True,False,False,False
6,False,False,True,False,True,True,True,True,True
7,False,False,False,False,True,True,True,True,True

In [23]:
#Seorang detektif sedang menangani sebuah kasus kriminal. Ada 4 orang tersangka berinisial G, O, L, D. Dari hasil interogasi, detektif tersebut mendapatkan sejumlah fakta, yaitu :

'''Jika G berkata jujur, maka O berkata jujur.
Jika L berkata bohong, maka D berkata jujur.
Salah satu dari O dan L berkata jujur.
O berkata jujur jika dan hanya jika D berkata bohong. Dari sejumlah fakta di atas, 
siapa yang berkata jujur? buatlah pembuktiannya dengan tabel kebenaran!
'''

sherlock_holmes = []
for g in [True, False]:
    for o in [True, False]:
        for l in [True,False]:
            for d in [True, False]:
                prop1 = o if g else True
                prop2 = d if not l else True
                prop3 = o or l 
                prop4 = o if not d else True and not d if o else True
                sherlock_holmes.append(pd.DataFrame({'G': [g],
                                        'O': [o],
                                        'L': [l],
                                        'D':[d],
                                        'G--> O':[prop1],
                                        '~L --> D': [prop2],
                                        'O V L' : [prop3],
                                        '~D <--> O ' : [prop4]
                                
                                        }))
john_watson = pd.concat(sherlock_holmes, ignore_index=True)
john_watson

        G      O      L      D  G--> O  ~L --> D  O V L  ~D <--> O
0    True   True   True   True    True      True   True       False
1    True   True   True  False    True      True   True        True
2    True   True  False   True    True      True   True       False
3    True   True  False  False    True     False   True        True
4    True  False   True   True   False      True   True        True
5    True  False   True  False   False      True   True       False
6    True  False  False   True   False      True  False        True
7    True  False  False  False   False     False  False       False
8   False   True   True   True    True      True   True       False
9   False   True   True  False    True      True   True        True
10  False   True  False   True    True      True   True       False
11  False   True  False  False    True     False   True        True
12  False  False   True   True    True      True   True        True
13  False  False   True  False    True      True   True       False
14  False  False  False   True    True      True  False        True
15  False  False  False  False    True     False  False       False